name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches: [main]

defaults:
  run:
    # See https://github.com/marketplace/actions/setup-miniconda#important
    shell: bash -el {0}

jobs:
  validate:

    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with: {submodules: recursive}
      - name: strip environment.yml
        run: |
          cat environment.yml | grep -v "#.*\<\local\>" > temp-ci-environment.yml
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: yardl
          environment-file: temp-ci-environment.yml

      - name: Python
        run: |
          pip install petsird
          cd python
          python start.py
